body {
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #8c8c8c;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
}
.containered {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.padding_50{
	padding: 50px;
}
h1{
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	line-height: 1.2;
	font-weight: 800;
	margin: 14px 0 0;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
	margin: 0;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	margin: 29px 0 0;
}
.text_align_center{
	text-align: center;
}

.button_grey{
	display: block;
	max-width: 170px;
	width: 100%;
	height: 50px;
	background-color: #998675;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	transition: all 300ms ease 0s;
}
.button_grey span{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px;
	display: block;
}
.button_grey:hover{
	background: #fff;
}
.button_grey:active{
	background: #d3c1ad;
}
.button_grey:hover span,.button_grey:active span{
	color: #998675;
}

/*header_banner*/
.header_banner{
	width: 100%;
	min-height: 100vh;
	background: url("../img/banner.jpg") no-repeat center / cover;
}
.header_top{
	padding-top: 40px;
	display: grid;
	grid-template-columns: 15.4% 1fr;
	grid-column-gap: 18.8%;
	justify-content: space-between;
}
.header_top_logo{
	display: block;
}
.header_top_nav{
	display: flex;
	justify-content: space-between;
}
.header_top_menu{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 100%;
	margin: 0;
	padding-left: 0;
}
.header_top_menu li a{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;
	transition: all 300ms ease 0s;
	text-decoration: none;
}
.header_top_menu li a:hover, .header_top_menu li a.active{
	color: #c7b299;
}
.header_top_menu li a:active{
	color: #d0bfab;
}
.header_top_form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 63px;
	max-width: 70px;
	width: 100%;
	position: relative;
}
.header_top_form_basket{
	width: 18px;
	height: 24px;
	display: block;
}
.header_top_form_basket svg path{
	fill: #fff;
	transition: all 300ms ease 0s;
}
.header_top_form_basket:hover svg path{
	fill: #c7b299;
}
.header_top_form_basket:active svg path{
	fill: #d0bfab;
}
.header_top_form_search{
	width: 24px;
	margin: 0 0 0 30%;
	position: relative;
}
.header_top_form_search:focus{
	outline: none;
}
.header_top_form_search__label{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.header_top_form_search__label:hover .header_top_form_search__svg {
	fill: #c7b299;
}
.header_top_form_search__label:active .header_top_form_search__svg {
	fill: #d0bfab;
}
.header_top_form_search__label:focus{
	outline: none;
}
.header_top_form_search__svg{
	width: 100%;
	height: 100%;
	fill: #fff;
}
.header_top_form_search__input{
	width: 0;
	min-height: 0;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 45px;
	left: -119px;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
}
.header_top_form_search__input:focus{
	width: 150px;
	min-height: 20px;
	transition: width 1s ease-out;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px 10px;
}
.header_top_form_search__input:focus ~ .search-icon-form__label > .header_top_form_search__svg {
	fill: #c7b299;
}
/*header_banner*/

/*header_center*/
.header_center{
	margin-top: 31vh;
	min-height: 57vh;
	position: relative;
	color: #fff;
}
.header_center_block{
	text-align: center;
	max-width: 590px;
	width: 100%;
	margin: 0 auto;
}
.header_center_block p{
	line-height: 24px;
	font-weight: 300;
	color: #fff;
	margin: 19px 0 0;
}
.header_center_block_button{
	height: 53px;
	margin: 52px auto 0;
}
.header_center_block_button span{
	padding: 14px 0;
}
.header_center_nav_pagin{
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit , minmax(11px, 15px));
	grid-column-gap: 12px;
}
.header_center_nav_pagin a{
	display: block;
	width: 11px;
	height: 11px;
	background: rgba(255,255,255,0.5);
	border-radius: 50%;
	transition: all 300ms ease 0s;
}
.header_center_nav_pagin a:hover, .header_center_nav_pagin a.active{
	border: 2px solid #d0bfab;
	background: none;
	transform: scale(1.2);
}
.header_center_nav_pagin a:active{
	border: 2px solid #fff;
	background: none;
	transform: scale(1.2);
}
.header_center_nav_arrow a{
	width: 73px;
	height: 73px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 30%;
	transition: all 300ms ease 0s;
	background: none;
	border-bottom: none;
	border-right: none;
}
.header_center_nav_arrow a.left{
	left: -10%;
	transform: rotate(-46deg);
}
.header_center_nav_arrow a.right{
	right: -10%;
	transform: rotate(137deg);
}
.header_center_nav_arrow a:hover{
	border-top: 1px solid #fff;
	border-left: 1px solid  #fff;
}
.header_center_nav_arrow a:active{
	border-top: 1px solid #c7b299;
	border-left: 1px solid  #c7b299;
}
/*header_center*/

/*services*/
.services{
	display: grid;
	grid-template-columns: repeat(4, 22.8%);
	grid-column-gap: 2.8%;
	justify-content: space-between;
	margin: 80px auto;
}
.services_item{
	text-align: center;
	position: relative;
	min-height: 210px;
	transition: all 300ms ease 0s;
	cursor: pointer;
}
.services_item:after{
	content: "";
	position: absolute;
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
	left: 50%;
	margin-left: -35px;
	bottom: 0;
}
.services_item svg{
	min-height: 49px;
	margin: 0 auto;
}
.services_item_img svg path{
	fill: #555555;
}
.services_item.active svg path,
.services_item:hover svg path{
	fill: #c7b299;
}
.services_item.active:after,
.services_item:hover:after {
	background-color: #c7b299;
}
.services_item.active h3,
.services_item:hover h3 {
	color: #c7b299;
}
.services_item p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 19px 0 30px;
}
/*services*/

/*ideas*/
.ideas{
	background: #fbfaf8;
	padding-top: 83px;
}
.ideas_block{
	max-width: 770px;
	text-align: center;
}
.ideas_block h2{
	font-size: 30px;
	font-weight: 600;
	color: #555555;
}
.ideas_block p{
	margin: 24px 0 0;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
}
.ideas_block_img{
	margin-top: 32px;
	position: relative;
}
.ideas_block_img_item{
	background: url("../img/browser_center.jpg") no-repeat center / cover;
	width: 100%;
	min-height: 482px;
	position: relative;
	z-index: 10;
	bottom: -9px;
	transition: all 300ms ease 0s;
	cursor: pointer;
}
.ideas_block_img_item.left{
	position: absolute;
	width: 100%;
	min-height: 400px;
	bottom: 0;
	left: -230px;
	z-index: 1;
}
.ideas_block_img_item.right{
	position: absolute;
	width: 100%;
	min-height: 400px;
	bottom: 0;
	right: -230px;
	z-index: 1;
}
.ideas_block_img_item:hover{
	z-index: 15;
}
/*ideas*/

/*purchase*/
.purchase{
	width: 100%;
	min-height: 150px;
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}
.purchase_block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 150px;
}
.purchase_block_text h2{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	color: #c7b299;
}
.purchase_block_text h2 span{
	color: #ffffff;
}
.purchase_block_text p{
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	color: #615855;
	margin: 8px 0 0;
}
/*purchase*/

/*latest_projects*/
.latest_projects{
	margin: 80px auto;
}
.latest_projects h3{
	font-size: 30px;
}
.latest_projects_text{
	max-width: 757px;
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 24px auto 0;
}
.latest_projects_select{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.latest_projects_select button{
	height: 32px;
	border: 1px solid #ebebeb;
	border-radius: 3.0px;
	padding: 0 25px;
	background: transparent;
	margin-right: 10px;
	cursor: pointer;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	color: #8c8c8c;
	transition: all 300ms ease 0s;
}
.latest_projects_select button:last-child{
	margin-right: 0;
}
.latest_projects_select button:hover, .latest_projects_select button.active, .latest_projects_select button:focus{
	color: #fff;
	background: #998675;
	outline: none;
	border: 1px solid #998675;
}
.latest_projects_select button:active{
	background: #d3c1ad;
	border: 1px solid #d3c1ad;
}
.latest_projects_block{
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(300px, 370px));
	grid-gap: 30px;
	justify-content: space-between;
}
.latest_projects_block_item{
	position: relative;
}
.latest_projects_block__img{
	width: 370px;
	height: 237px;
	background: #8c8c8c;
	display: block;
}
.latest_projects_block_item:hover .latest_projects_block__img{
	filter: brightness(35%);
}
.latest_projects_block__text{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #c7b299;
	padding: 24px 28px;
	background-color: #fbfaf8;
}
.latest_projects_block_item:hover .latest_projects_block__text{
	background-color: #362f2d;
	color: #fff;
}
.latest_projects_block__text:before{
	content: "";
	position: absolute;
	top: -28px;
	left: 19px;
	border: 14px solid transparent;
	border-bottom: 14px solid #fbfaf8;
}

.latest_projects_block_item:hover .latest_projects_block__text:before{
	border-bottom: 14px solid #362f2d;
}
.latest_projects_block__text span{
	display: block;
	margin-top: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #d1d1d1;
}
.latest_projects_block_item:hover .latest_projects_block__text span{
	color: #c7b299;
}
.latest_projects_block_item:hover .latest_projects_block__link, .latest_projects_block_item:hover .latest_projects_block__search{
	display: block;
}
.latest_projects_block__link, .latest_projects_block__search{
	width: 26px;
	height: 26px;
	display: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 35%;
	cursor: pointer;
	transition: all 300ms ease 0s;
}
.latest_projects_block__link{
	background-image: url("../img/latest_projects_link.svg");
	left: 41%;
}
.latest_projects_block__search{
	background-image: url("../img/latest_projects_search.svg");
	right: 41%;
}
.latest_projects_block__link:hover, .latest_projects_block__search:hover {
	transform: scale(1.2);
}
.latest_projects .button_grey{
	margin: 40px auto 0;
	border: none;
}
.latest_projects .button_grey:hover{
	border: 2px solid #998675;
	outline: none;
}
.latest_projects .button_grey:focus{
	outline: none;
}
/*latest_projects*/

/*presentation*/
.presentation{
	width: 100%;
	min-height: 705px;
	color: #fff;
	cursor: pointer;
	position: relative;
	display: flex;
}
.presentation video{
	width: 100%;
	object-fit: cover;
}
.presentation_block{
	position: absolute;
	max-width: 552px;
	width: 100%;
	min-height: 290px;
	top: 50%;
	margin-top: -145px;
	left: 50%;
	margin-left: -276px;
	text-align: center;
}
.video-play {
	position: relative;
	object-fit: cover;
}
.video-play-btn {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
}
.video-play-btn svg path{
	fill: #fff;
}
.video-play-btn:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.video-play-btn:hover svg path{
	fill: rgba(255, 255, 255, 0.7);
}
.video-play-btn:active svg path{
	fill: rgba(255, 255, 255, 0.5);
}
.video-play-btn--hide {
	display: none;
}
.presentation_block h2{
	font-size: 30px;
	margin-top: 44px;
}
.presentation_block p{
	margin-top: 20px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #ffffff;
}
.presentation_block span{
	margin-top: 40px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #c7b299;
}
/*presentation*/

/*mobile_devices*/
.mobile_devices{
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-gap: 30px;
	margin-top: 80px;
}
.mobile_devices_img{
	margin-left: 47px;
	min-height: 616px;
	background: url("../img/mobile_devices.png");
}
.mobile_devices_text{
	margin-top: 115px;
}
.mobile_devices_text h3{
	font-size: 30px;
}
.mobile_devices_text p{
	margin: 40px 0 0;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
}
.mobile_devices_text_list{
	margin: 45px 0 0 50px;
	padding-left: 0;
	list-style-type: none;
}
.mobile_devices_text_list li{
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: #8c8c8c;
	padding-left: 50px;
	position: relative;
}
.mobile_devices_text_list li:before{
	content: " \203A";
	position: absolute;
	display: inline-block;
	background: #c7b299;
	width: 21px;
	height: 21px;
	line-height: 18px;
	color: #fff;
	border-radius: 50%;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
}
/*mobile_devices*/
